@import '../common.scss';

.hide-scroll {
  overflow: hidden;
}

.msg-box-enter {
  opacity: 0;
  transform: scale(0.8);
}
.msg-box-exit {
  opacity: 1;
  transform: scale(1);
}
.msg-box-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms ease-out;
}
.msg-box-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: all 200ms ease-out;
}

.msg-box-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10001;

  .msg-box {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    max-height: 95vh;
    max-width: 95vw;
    min-width: 200px;

    .title {
      box-sizing: border-box;
      border-radius: 4px 4px 0 0;
      font-size: 15px;
      font-weight: 700;
      color: #494949;
      margin: 0;
      padding: 8px 14px;

      .close-popup {
        display: block;
      }
    }

    .contents {
      font-size: 14px;
      font-weight: 500;
      color: #5b5b5b;
      box-sizing: border-box;
      overflow-y: auto;
      display: flex;
      align-items: center;
      padding: 14px;
      min-height: 80px;
    }

    .actions {
      border-top: 1px solid #f4f4f4;
      border-radius: 0 0 4px 4px;
      overflow: hidden;
      display: flex;
      justify-content: center;

      a {
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        height: 42px;
        background-color: transparent;

        &.btn-okay {
          color: rgb(119, 152, 231);

          .loading {
            transform-origin: center center;
            animation: spinner 1s infinite;
          }
        }

        &.btn-cancel {
          color: grey;
          border-right: 1px solid $gray-300;
        }
      }
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.5;
  }

  to {
    transform: rotate(360deg);
  }
}
