.date-picker-wrapper {
  position: relative;

  .date-picker {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    input[type='text'] {
      display: block;
      flex: 1;
      border: 0;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #bdbdbd;
        font-size: 0.8em;
      }
    }
  }

  .calendar-wrapper {
    z-index: 100;
    margin-top: 3px;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 7px 1px #636363;
    transform-origin: top left;

    .button-tools {
      padding: 10px;
      border-bottom: 1px solid #dcdcdc;

      a {
        display: inline-block;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        font-size: 12px;
        text-align: center;
        width: 50px;
        line-height: 24px;
        margin-right: 10px;
        color: #666666;

        &:hover {
          background-color: #dcdcdc;
        }

        &.active {
          background-color: blue;
          color: #fff !important;
          border: 1px solid blue;
        }
      }
    }

    .calendar {
      padding: 15px;
      display: flex;
      align-items: flex-start;

      ul {
        padding: 1px 1px 0 0 !important;
        margin: 0 !important;
        width: 211px;
        display: flex;
        flex-wrap: wrap;
        // background-color: #dcdcdc;

        li {
          font-size: 12px;
          font-weight: 500;
          width: 29px;
          height: 29px;
          box-sizing: border-box;
          text-align: right;
          line-height: 30px;
          padding-right: 3px;
          background-color: white;
          margin: 0 0 1px 1px;
          cursor: pointer;

          &:hover:not(.week, .selected) {
            background-color: #f4f4f4;
          }

          &.selected {
            background-color: #4285dd;
            color: white;
          }

          &.in-selected {
            background-color: #bad8ff;
          }

          &.today {
            font-weight: 900;
            color: #dac343;
          }

          &.sun {
            color: red;
          }

          &.sat {
            color: blue;
          }

          &.week {
            text-align: center;
            padding-left: 3px;
          }
        }
      }

      .date-controller {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.5em;

        a svg {
          display: block;
        }

        .year-month {
          display: flex;
          align-items: center;
          justify-content: center;

          select {
            border: 1px solid #dcdcdc;
            font-size: 13px;
            height: 26px;
            border-radius: 4px;
            margin-right: 5px;
          }

          span {
            font-size: 14px;
          }
        }
      }

      .separater {
        width: 1px;
        height: 100%;
        margin: 0 15px;
      }
    }

    .button-area {
      border: 1px solid #dcdcdc;
      padding: 10px 15px;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .error-message {
        color: red;
        font-size: 12px;
      }

      .buttons {
        a {
          display: inline-block;
          border: 1px solid #dcdcdc;
          border-radius: 4px;
          font-size: 12px;
          font-weight: 500;
          text-align: center;
          width: 50px;
          line-height: 24px;
          color: #666666;

          & + a {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .fade-scale-enter {
    opacity: 0;
    transform: scale(0.8);
  }

  .fade-scale-exit {
    opacity: 1;
    transform: scale(1);
  }

  .fade-scale-enter-active {
    transition: all 200ms ease;
    opacity: 1;
    transform: scale(1);
  }

  .fade-scale-exit-active {
    transition: all 200ms ease;
    opacity: 0;
    transform: scale(0.8);
  }
}
